<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Configs</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <h3>Simple Pendulum</h3>

    <form id="pendulumForm">
      <div>
        angularOffset: <input type="number" id="" placeholder="0<x<90°" />
      </div>
      <div>
        stringLength: <input type="number" id="" placeholder="0<x<800" />
      </div>
      <div>
        xCoordinate: <input type="number" id="" placeholder="0<x<1000" />
      </div>
      <div>
        <button type="submit" class="button">Submit</button>
      </div>
    </form>

    <script>
      const form = document.getElementById('pendulumForm');

      form.addEventListener('submit', (event) => {
        event.preventDefault();
        let angularOffset = form.elements[0].value;
        const stringLength = form.elements[1].value;
        const xCoordinate = form.elements[2].value;

        if (!angularOffset || !stringLength || !xCoordinate) {
          window.alert('Missing input');
          return;
        }

        let data = { angularOffset, stringLength, xCoordinate };

        fetch('/api/pendulums', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(data),
        })
          .then(form.reset())
          .then(window.alert('Request complete! response:'));
      });
    </script>
  </body>
</html>
