<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pendulum Simulator</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <h3>Simple Pendulum</h3>

    <!-- <div class="gridContainer">
      <canvas id="canvas" width="1000" height="550"></canvas>
    </div> -->

    <form method="get" action="/api/pendulums" >
      <button type="submit">Start</button>
    </form>

    <form method="get" action="/api/pendulums" >
      <button type="submit">Stop</button>
    </form>
   
    <script>
      function objects(element, ctx) {
        ctx.beginPath();
        ctx.lineWidth = 5;
        //move to x=200
        ctx.moveTo(200, 0);
        //draw line from (200,0) to (200,190)
        ctx.lineTo(200, 190);
        ctx.closePath();
        ctx.strokeStyle = "#a29376";
        ctx.stroke();
        //circle 01
        ctx.beginPath();
        //arc(x, y, radius, startAngle, endAngle)
        ctx.arc(200, 225, 35, 0, 360);
        ctx.fillStyle = "#828386";
        ctx.fill();
      }

      let rotation = Math.PI / 180,
        translation = -3.5,
        counter = 0;

      function draw() {
        let element = document.getElementById("canvas");
        let ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, element.width, element.height);
        ctx.translate(0, translation);
        ctx.rotate(rotation);
        objects(element, ctx);
        if (counter == 25) {
          rotation *= -1;
          translation *= -1;
          counter = -25;
        }
        counter += 1;
        window.requestAnimationFrame(draw);
      }
      window.onload = draw;
    </script>
  </body>
</html>
