<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Pendulum Simulator</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <h3>Simple Pendulum</h3>

    <div class="gridContainer">
      <canvas id="canvas" width="1000" height="550"></canvas>
    </div>

    <form id="startForm">
      <button type="submit">Start</button>
    </form>

    <form id="stopForm">
      <button type="submit">Stop</button>
    </form>

    <script>
      //GET -> START
      const startForm = document.querySelector('#startForm');

      startForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const resp = await getPendulums();
        console.log(resp);
      });

      const getPendulums = async () => {
        const res = await fetch('/api/pendulums', {
          method: 'GET',
          headers: { 'Content-Type': 'application/json' },
        });

        const data = await res.json();
        return data;
      };

      //DELETE -> STOP
      const stopForm = document.querySelector('#stopForm');

      stopForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const res = await fetch('/api/pendulums', {
          method: 'DELETE',
          headers: { 'Content-Type': 'application/json' },
        });

        const data = await res.json();
        window.alert(data.success ? 'Collection DELETED' : 'ERROR');
      });

      //UPDATE -> PAUSE
    </script>
  </body>
</html>
